.title{
    position: relative;

    width: auto;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
}

body{

    background-color: black;

}
.buttons{

    position: relative;
    display: flex   ;
    justify-content: end;
    
}
.inputBoxes{
    position: relative;
    display: flex;
    justify-content: end;
    
}
.poster{
    width: 100%;
}

